{% extends 'layout.html' %}

{% block body %}
    <h1>REGISTRATION</h1>
    <form action="" method="POST">
        <input type="text" name="username" value="Username" placeholder="Username">
        <input type="text" name="password" value="Password" placeholder="Password">
        <input type="text" name="rest_name" value="Restaurant name" placeholder="Restaurant Name">
        <input type="text" name="rest_address" value="Address" placeholder="Address">
        <input type="text" name="owner_name" value="Owner name" placeholder="Owner Name">
        <input type="submit" name="add_new_user" value="Register">
    </form>
{% endblock body %}